<div id="home">
  <div class="hidden" id="path">{{path}}</div>
  <div class="color-background"></div>

  <div class="relative-container">
    <div class="container-inner">
      {{> navbar }}

      <div class="card files">
        <div class="card-header">
          {{#if viewing}}
            Viewing
          {{else}}
            Your Files
          {{/if}}
        </div>
        <div class="card-content">

          <div class="buttons-container">
            {{#if path}}
              <a class="button" href="/view/{{viewingId}}?path={{path}}&back=true">
                Go back
              </a>
            {{/if}}

            {{#unless viewing}}
              <button type="button" data-toggle="modal" data-target="#uploadModal">
                Upload File
              </button>
            {{/unless}}
          </div>

          {{#if path}}
            <div class="path-bar">
              {{ path }}
            </div>
          {{else}}
            <div class="path-bar">
              .
            </div>
          {{/if}}

          {{#if cannotAccess}}
            Cannot view path {{ path }} of user {{viewingId}}
          {{else}}
            <div class="files-container">
              {{#each files}}
                {{#if this.isDirectory}}
                  <div class="file directory">
                    <a href="/view/{{../viewingId}}?path={{ ../path }}/{{ this.name }}">
                      <i class="ion-ios-folder"></i>
                      <span class="name">{{ this.name }}</span>
                    </a>

                    {{#unless ../viewing}}
                      <i class="ion-arrow-down-b dropdown-icon"></i>
                      <div class="file-dropdown-menu">
                        <div class="file-menu-item delete">
                          Delete Directory
                        </div>
                        <div class="file-menu-item share" data-toggle="modal" data-target="#shareModal">
                          Share Directory
                        </div>
                      </div>
                    {{/unless}}

                  </div>
                {{else}}
                  <div class="file non-directory">

                    <a href="/file/view/{{../viewingId}}?path={{ ../path }}/{{ this.name }}">
                      <i class="ion-document-text"></i>
                      <span class="name">{{ this.name }}</span>
                    </a>

                    {{#unless ../viewing}}
                      <i class="ion-arrow-down-b dropdown-icon"></i>
                      <div class="file-dropdown-menu">
                        <div class="file-menu-item delete">
                          Delete File
                        </div>
                        <div class="file-menu-item share" data-toggle="modal" data-target="#shareModal">
                          Share File
                        </div>
                      </div>
                    {{/unless}}
                  </div>
                {{/if}}
              {{/each}}
            </div>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>

<div class='modal fade' id='shareModal' tabindex="-1">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-title'>
        Share
      </div>
      Are you sure you want to share "<span class="share-target"></span>"? This
      will make it visible to anyone with the url.
      <br/>
      <br/>
      <button class="share-confirm">Share</button>
    </div>
  </div>
</div>  <!-- /.modal -->

<div class='modal fade' id='uploadModal' tabindex="-1">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-title'>
        Choose Upload
      </div>
      <form action='/file' method='post' encType="multipart/form-data" id='uploadForm'>
        <div class='form-item'>
          <input type="file" name="uploadedFile" id='uploadFile'>
        </div>
        <div class='warning'></div>
        <div class='form-item align-center button-container'>
          <input type='submit' value='Upload!' id='submit' class='button'/>
        </div>
      </form>
    </div>
  </div>
</div>  <!-- /.modal -->

<script src="/js/home.js"></script>
