<div id="home">
  <div class="hidden" id="path">{{path}}</div>
  <div class="color-background"></div>

  <div class="relative-container">
    <div class="container-inner">
      {{> navbar }}

      <div class="card files">
        <div class="card-header">Your Files</div>
        <div class="card-content">

          <div class="buttons-container">
            {{#if path}}
              <a class="button" href="/home?path={{path}}&back=true">
                Go back
              </a>
            {{/if}}
            <button type="button" data-toggle="modal" data-target="#uploadModal">
              Upload File
            </button>
          </div>

          {{#if path}}
            <div class="path-bar">
              {{ path }}
            </div>
          {{/if}}

          <div class="files-container">
            {{#each files}}
              {{#if this.isDirectory}}
                <div class="file directory">
                  <a href="/home?path={{ ../path }}/{{ this.name }}">
                    <i class="ion-ios-folder"></i>
                    <span class="name">{{ this.name }}</span>
                  </a>
                  <i class="ion-arrow-down-b dropdown-icon"></i>
                  <div class="file-dropdown-menu">
                    <div class="file-menu-item delete">
                      Delete Directory
                    </div>
                    <div class="file-menu-item share">
                      Share Directory
                    </div>
                  </div>
                </div>
              {{else}}
                <div class="file non-directory">
                  <a href="/file/view?path={{ ../path }}/{{ this.name }}">
                    <i class="ion-document-text"></i>
                    <span class="name">{{ this.name }}</span>
                  </a>
                  <i class="ion-arrow-down-b dropdown-icon"></i>
                  <div class="file-dropdown-menu">
                    <div class="file-menu-item delete">
                      Delete File
                    </div>
                    <div class="file-menu-item share">
                      Share File
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='modal fade' id='uploadModal' tabindex="-1">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-title'>
        Choose Upload
      </div>
      <form action='/file' method='post' encType="multipart/form-data" id='uploadForm'>

        <input name="algorithm" type="text" value="{{ algorithm }}" style="display: none"/>

        <div class='form-item'>
          <input type="file" name="uploadedFile" id='uploadFile'>
        </div>
        <div class='warning'></div>
        <div class='form-item align-center button-container'>
          <input type='submit' value='Upload!' id='submit' class='button'/>
        </div>
      </form>
    </div>
  </div>
</div>  <!-- /.modal -->

<script src="js/home.js"></script>
